.About {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.About-title {
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 3.5em;
  color: black;
}