{
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/label-has-for": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-curly-spacing": 0,
    "global-require": 0,
    "max-len": 0,
    "comma-dangle": [
      2,
      "never"
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "never"
    ],
    "react/jsx-no-bind": 0
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint"
}