.Article {
  width: 100%;
  margin: 0;
}

.Article--preview {
  border-bottom: 1px solid #cccccc;
}

.Article-content {
  position: relative;
  display: block;
  width: 100%;
  max-width: 980px;
  padding: 40px 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.Article-date {
  font-weight: bold;
}

.Article-title {
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 2.8em;
  margin: 0.1em 0;
  color: black ;
}

.Article-subtitle {
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0.3em 0;
  text-transform: uppercase;
}

.Article-image{
  width: 100%;
  height: auto;
  margin: 1em 0 0.3em;
}

.Article-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3em;
  margin: 1em 0 0.3em;
}