.ArticleContainer {
  position: relative; 
  width: 100%;
  -webkit-animation: fadeIn 1.5s forwards;
  -moz-animation:    fadeIn 1.5s forwards;
  -o-animation:      fadeIn 1.5s forwards;
  animation:         fadeIn 1.5s forwards;
}

@-webkit-keyframes fadeIn {
  0%   { top: 50px; opacity: 0; }
  100% { top: 0; opacity: 1; }
}