.Footer {
  width: 100%;
  background-color: #eeeeee;
}

.Footer-info {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.Footer-link {
  color: inherit;
  text-decoration: underline;
}